# Ignore the virtual environment (Libraries)

venv/
.env

Ignore Python cache files

pycache/
*.pyc

# Ignore utility scripts (Not part of the app)

create_docs.py

# Ignore large generated data folders

demo_files/
demo_large/
demo_mnist/
demo_resnet/
demo_tabular/
demo_real_mlp/
inputs/
outputs/

# Ignore OS specific files

.DS_Store